<div class="deepnight-wrapper">
  <section class="deepnight calendar">
    <div class="flexrow action-buttons">
      <div>
        <span class="dnr-spacer"><i class="fa-light fa-calendar-days"></i></span>
        <b>{{year}}.{{day}}.{{watch}}</b>
      </div>
      <div>
        <span class="dnr-spacer">{{localize "DEEPNIGHT.daysOnMission"}}:</span>
        <b>{{daysOnMission}}</b>
      </div>
      <div class="clickable" id="damagedSystems">
        <span class="dnr-spacer"><i class="fa-regular fa-house-chimney-crack"></i></span>
        Damage: {{damagedSystems.length}}
      </div>
      <div class="clickable" id="history">
        <span class="dnr-spacer"><i class="fa-regular fa-rectangle-vertical-history"></i></span>History
      </div>
    </div>
    <div class="flexrow topspacing">
      <div class="form-group">
        <label for="ceimInterval">{{localize "DEEPNIGHT.ShipDialog.CEIMInterval"}}: </label>
        <input
          type="number"
          data-dtype="Number"
          step="1"
          id="ceimInterval"
          name="ceimInterval"
          placeholder="0"
          class="form-fields dnr-valueinput"
          value="{{ceimInterval}}"
        />
        <span id="ceim-interval" data-tooltip="{{localize "DEEPNIGHT.ShipDialog.CEIMIntervalRoll"}}"><i class="fa-solid fa-dice"></i></span>
        &nbsp;
        <span id="dnr-ceimChangeCheck" data-tooltip="{{localize "DEEPNIGHT.ShipDialog.CEIMChangeRoll"}}">
          <i class="fa-solid fa-up-down"></i><i class="fa-solid fa-dice"></i>
        </span>
      </div>
      <div class="form-group">
        <label for="ceiInterval">{{localize "DEEPNIGHT.ShipDialog.CEIInterval"}}: </label>
        <input
          type="number"
          data-dtype="Number"
          step="1"
          id="ceiInterval"
          name="ceiInterval"
          placeholder="0"
          class="form-fields dnr-valueinput"
          value="{{ceiInterval}}"
        />
        <span id="cei-interval" data-tooltip="{{localize "DEEPNIGHT.ShipDialog.CEIIntervalRoll"}}">
          <i class="fa-solid fa-dice"></i>
        </span>
      </div>
      <div class="form-group">
        <label for="cfiInterval">{{localize "DEEPNIGHT.ShipDialog.CFIInterval"}}: </label>
        <input
          type="number"
          data-dtype="Number"
          step="1"
          id="cfiInterval"
          name="cfiInterval"
          placeholder="0"
          class="form-fields dnr-valueinput"
          value="{{cfiInterval}}"
        />
        <span id="cfi-interval" class="clickable" data-tooltip="{{localize "DEEPNIGHT.ShipDialog.CFIIntervalRoll"}}">
          <i class="fa-solid fa-dice"></i>
        </span>
        &nbsp;
        <span id="dnr-fatigueChangeCheck" class="clickable" data-tooltip="{{localize "DEEPNIGHT.ShipDialog.FatigueChangeCheck"}}">
          <i class="fa-solid fa-up-down"></i><i class="fa-solid fa-dice"></i>
        </span>
      </div>
    </div>
  </section>

  <section class="deepnight resources">
    <header class="directory-header dnr-header">Resources</header>
    <div class="flexrow">
      <div title="Supplies">
        <div>
          <label for="supplies">
            Supplies
          </label>
        </div>
        <span class="dnr-spacer"><i class="fa-light fa-crate-apple"></i></span>
        <input
          type="number"
          data-dtype="Number"
          step="1"
          id="supplies"
          name="supplies"
          placeholder="0"
          class="form-fields dnr-valueinput"
          value="{{supplies}}"
        />
        <span class="dnr-spacer"><i class="fa-light fa-calendar-minus"></i></span>
        <input
          type="number"
          data-dtype="Number"
          step="1"
          id="supplyUnitsPerDay"
          name="supplyUnitsPerDay"
          placeholder="0"
          class="form-fields dnr-valueinput-small"
          value="{{supplyUnitsPerDay}}"
        />/d
      </div>
      <div title="exotic materials">
        <div>
          <label for="exoticMaterials">
            Exotic Materials
          </label>
        </div>
        <span class="dnr-spacer"><i class="fa-light fa-sparkles"></i></span>
        <input
          type="number"
          data-dtype="Number"
          step="1"
          id="exoticMaterials"
          name="exoticMaterials"
          placeholder="0"
          class="form-fields dnr-valueinput"
          value="{{exoticMaterials}}"
        />
      </div>
      <div title="rare materials">
        <div>
        <label for="rareMaterials">Rare Materials</label>
        </div>
        <span class="dnr-spacer"><i class="fa-light fa-comet"></i></span>
        <input
          type="number"
          data-dtype="Number"
          step="1"
          id="rareMaterials"
          name="rareMaterials"
          placeholder="0"
          class="form-fields dnr-valueinput"
          value="{{rareMaterials}}"
        />
      </div>
      <div title="rare biologicals">
        <div>
          <label for="rareBiologicals">Rare Biologicals</label>
        </div>
        <span class="dnr-spacer"><i class="fa-light fa-dna"></i></span>
        <input
          type="number"
          data-dtype="Number"
          step="1"
          id="rareBiologicals"
          name="rareBiologicals"
          placeholder="0"
          class="form-fields dnr-valueinput"
          value="{{rareBiologicals}}"
        />
      </div>
    </div>
  </section>

  <section class="deepnight morale">
    <header class="directory-header dnr-header">Morale and Fatigue</header>
    <div class="flexrow">
      <div title="morale">
        <div>
          <label for="morale">Morale</label>
        </div>
        <span class="dnr-spacer"><i class="fa-light fa-face-smile"></i></span>
        <input
          type="number"
          data-dtype="Number"
          step="1"
          id="morale"
          name="morale"
          placeholder="0"
          class="form-fields dnr-valueinput"
          value="{{morale}}"
        />
      </div>
      <div title="cfi">
        <div>
          <label for="cfi">Fatigue Index</label>
        </div>
        <span class="dnr-spacer">CFI:</span>
        <input
          type="number"
          data-dtype="Number"
          step="1"
          id="cfi"
          name="cfi"
          placeholder="0"
          class="form-fields dnr-valueinput"
          value="{{cfi}}"
        />
      </div>
      <div title="fatigue">
        <div>
          <label for="dnr-fatigue">Fatigue</label>
        </div>
        <span class="dnr-spacer"><i class="fa-regular fa-face-weary"></i></span>
        <select id="dnr-fatigue" name="dnr-fatigue">
          {{#select fatigue}}
            {{#each fatigueLevels}}
              <option value="{{@key}}">{{localize this.label}}
              </option>
            {{/each}}
          {{/select}}
        </select>
      </div>
    </div>
  </section>

  <section class=" deepnight crew">
    <header class="directory-header dnr-header">Crew</header>
    <div class="flexrow">
      <div>
        <div class="dnr-panel dnr-ceipanel dei-check"
             data-tooltip="skill check"
             data-dei="{{cei}}"
             data-label="CEI check"
        >
          <div class="dnr-panel-text">
            <p>
              <label for="cei"></label>
              <input
                type="number"
                data-dtype="Number"
                step="1"
                id="cei"
                name="cei"
                placeholder="0"
                class="form-fields dnr-valueinput"
                value="{{cei}}"
              />
            </p>
            <p class="clickable">
              <i class="fa-solid fa-dice"></i>
              <span class="effect-check" data-tooltip="CEI Effect check">
                <i class="fa-regular fa-dice-d6"></i>
              </span>
            </p>
          </div>
        </div>
        <div class="dnr-panel dnr-ceimpanel">
          <div class="dnr-panel-text">
            <p>
              <label for="ceim"></label>
              <input
                type="number"
                data-dtype="Number"
                step="1"
                id="ceim"
                name="ceim"
                placeholder="0"
                class="form-fields dnr-valueinput"
                value="{{ceim}}"/>
            </p>
          </div>
        </div>
      </div>
      <div>
        <div class="flexrow action-buttons">
          <button id="dnr-maintenance"><i class="fa-regular fa-screwdriver-wrench"></i> {{localize "DEEPNIGHT.maintenanceButtonTitle"}}</button>
        </div>
      </div>
    </div>
  </section>

  <section class="deepnight divisions">
    <header class="directory-header dnr-header">Divisions</header>
    <div class="flexrow">
      <div class="dei-wrapper">
        <header class="directory-header dnr-subheader">Mission</header>
        <div class="flexrow">
          <div>
            <div class="dnr-panel dnr-deipanel dei-check"
                 data-tooltip="skill check"
                 data-dei="{{mission.dei}}"
                 data-label="Mission"
            >
              <div class="dnr-panel-text">
                <p>
                  <label for="mission-dei"></label>
                  <input
                    type="number"
                    data-dtype="Number"
                    step="1"
                    id="mission-dei"
                    name="mission-dei"
                    placeholder="0"
                    class="form-fields dnr-valueinput"
                    value="{{mission.dei}}"/>
                </p>
                <p class="clickable">
                  <i class="fa-solid fa-dice"></i>
                  <span class="effect-check" data-tooltip="DEI Effect check">
                    <i class="fa-regular fa-dice-d6"></i>
                  </span>
                  <span class="improvement-check" data-tooltip="improvement check">
                    <i class="fa-solid fa-up-down"></i>
                  </span>
                </p>
              </div>
            </div>
            <div class="dnr-panel dnr-crewpanel">
              <div class="dnr-panel-text">
                <p>
                  <label for="mission-crew"></label>
                  <input
                    type="number"
                    data-dtype="Number"
                    step="1"
                    id="mission-crew"
                    name="mission-crew"
                    placeholder="0"
                    class="form-fields dnr-valueinput"
                    value="{{mission.crew}}"/>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <header class="directory-header dnr-subheader">Flight</header>
        <div class="flexrow">
          <div>
            <div
              class="dnr-panel dnr-deipanel dei-check"
              data-tooltip="skill check"
              data-dei="{{flight.dei}}"
              data-label="Flight"
            >
              <div class="dnr-panel-text">
                <p>
                  <label for="flight-dei"></label>
                  <input
                    type="number"
                    id="flight-dei"
                    data-dtype="Number"
                    step="1"
                    name="flight-dei"
                    placeholder="0"
                    class="form-fields dnr-valueinput"
                    value="{{flight.dei}}"/>
                </p>
                <p class="clickable">
                  <i class="fa-solid fa-dice"></i>
                  <span class="effect-check" data-tooltip="DEI Effect check">
                    <i class="fa-regular fa-dice-d6"></i>
                  </span>
                  <span class="improvement-check" data-tooltip="improvement check">
                    <i class="fa-solid fa-up-down"></i>
                  </span>
                </p>
              </div>
            </div>
            <div class="dnr-panel dnr-crewpanel">
              <div class="dnr-panel-text">
                <p>
                  <label for="flight-crew"></label>
                  <input
                    type="number"
                    id="flight-crew"
                    data-dtype="Number"
                    step="1"
                    name="flight-crew"
                    placeholder="0"
                    class="form-fields dnr-valueinput"
                    value="{{flight.crew}}"/>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flexrow">
      <div>
        <header class="directory-header dnr-subheader">Operations</header>
        <div class="flexrow">
          <div class="dei-wrapper">
            <div
              class="dnr-panel dnr-deipanel dei-check"
              data-tooltip="skill check"
              data-dei="{{operations.dei}}"
              data-label="Operations"
            >
              <div class="dnr-panel-text">
                <p>
                  <label for="operations-dei"></label>
                  <input
                    type="number"
                    id="operations-dei"
                    data-dtype="Number"
                    step="1"
                    name="operations-dei"
                    placeholder="0"
                    class="form-fields dnr-valueinput"
                    value="{{operations.dei}}"/>
                </p>
                <p class="clickable">
                  <i class="fa-solid fa-dice"></i>
                  <span class="effect-check" data-tooltip="DEI Effect check">
                    <i class="fa-regular fa-dice-d6"></i>
                  </span>
                  <span class="improvement-check" data-tooltip="improvement check">
                    <i class="fa-solid fa-up-down"></i>
                  </span>
                </p>
              </div>
            </div>
            <div class="dnr-panel dnr-crewpanel">
              <div class="dnr-panel-text">
                <p>
                  <label for="operations-crew"></label>
                  <input
                    type="number"
                    id="operations-crew"
                    data-dtype="Number"
                    step="1"
                    name="operations-crew"
                    placeholder="0"
                    class="form-fields dnr-valueinput"
                    value="{{operations.crew}}"/>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <header class="directory-header dnr-subheader">Engineering</header>
        <div class="flexrow">
          <div>
            <div
              class="dnr-panel dnr-deipanel dei-check"
              data-tooltip="skill check"
              data-dei="{{engineering.dei}}"
              data-label="Engineering"
            >
              <div class="dnr-panel-text">
                <p>
                  <label for="engineering-dei"></label>
                  <input
                    type="number"
                    id="engineering-dei"
                    data-dtype="Number"
                    step="1"
                    name="engineering-dei"
                    placeholder="0"
                    class="form-fields dnr-valueinput"
                    value="{{engineering.dei}}"/>
                </p>
                <p class="clickable">
                  <i class="fa-solid fa-dice"></i>
                  <span class="effect-check" data-tooltip="DEI Effect check">
                    <i class="fa-regular fa-dice-d6"></i>
                  </span>
                  <span class="improvement-check" data-tooltip="improvement check">
                    <i class="fa-solid fa-up-down"></i>
                  </span>
                </p>
              </div>
            </div>
            <div class="dnr-panel dnr-crewpanel">
              <div class="dnr-panel-text">
                <p>
                  <label for="engineering-crew"></label>
                  <input
                    type="number"
                    id="engineering-crew"
                    data-dtype="Number"
                    step="1"
                    name="engineering-crew"
                    placeholder="0"
                    class="form-fields dnr-valueinput"
                    value="{{engineering.crew}}"/>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="deepnight-buttons">
    <div class="flexrow action-buttons">
      <button id="dnr-save"><i class="fa-regular fa-cloud-arrow-up"></i> {{localize "DEEPNIGHT.saveButtonTitle"}}</button>
    </div>
    <div class="flexrow action-buttons">
      <button id="dnr-reach"><i class="fa-regular fa-map"></i> {{localize "DEEPNIGHT.reachButtonTitle"}}</button>
      <button id="dnr-jump"><i class="fa-regular fa-calendar-week"></i> {{localize "DEEPNIGHT.jumpButtonTitle"}}</button>
      <button id="dnr-day"><i class="fa-regular fa-calendar-day"></i> {{localize "DEEPNIGHT.dayButtonTitle"}}</button>
      <button id="dnr-watch"><i class="fa-regular fa-watch"></i> {{localize "DEEPNIGHT.watchButtonTitle"}}</button>
      <button id="dnr-refuel"><i class="fa-regular fa-gas-pump"></i> {{localize "DEEPNIGHT.refuelButtonTitle"}}</button>
    </div>
  </section>
</div>
