<div class="flexrow">
  <div><i class="fa-light fa-calendar-days"></i> <b>{{year}}.{{day}}</b></div>
  <div><i class="fa-light fa-crate-apple"></i>: <b>{{supplies}}</b></div>
  <div>{{localize "DEEPNIGHT.daysOnMission"}}: <b>{{daysOnMission}}</b></div>
</div>
<header class="directory-header">
  <div class="flexrow action-buttons">
    <button id="dnr-day"><i class="fa-regular fa-calendar-week"></i> {{localize "DEEPNIGHT.dayButtonTitle"}}</button>
    <button id="dnr-watch"><i class="fa-regular fa-watch"></i> {{localize "DEEPNIGHT.watchButtonTitle"}}</button>
    <button id="dnr-jump"><i class="fa-regular fa-calendar-day"></i> {{localize "DEEPNIGHT.jumpButtonTitle"}}</button>
  </div>
</header>
<div class="flexrow"></div>
