<header class="directory-header">
  <div class="flexrow">
    <div>
      <span class="dnr-spacer"><i class="fa-light fa-calendar-days"></i></span>
      <b>{{year}}.{{day}}</b>
    </div>
    <div>
      <span class="dnr-spacer">{{localize "DEEPNIGHT.daysOnMission"}}:</span>
      <b>{{daysOnMission}}</b>
    </div>
  </div>
</header>

<header class="directory-header">
  <div class="flexrow">
    <div title="Supplies">
      <label for="supplies">
        <span class="dnr-spacer"><i class="fa-light fa-crate-apple"></i></span>
      </label>
      <input
        type="number"
        data-dtype="Number"
        step="1"
        id="supplies"
        name="supplies"
        placeholder="0"
        class="form-fields dnr-valueinput"
        value="{{supplies}}"/>
    </div>
    <div title="exotic materials">
      <label for="exoticMaterials">
        <span class="dnr-spacer"><i class="fa-light fa-sparkles"></i></span>
      </label>
      <input
        type="number"
        data-dtype="Number"
        step="1"
        id="exoticMaterials"
        name="exoticMaterials"
        placeholder="0"
        class="form-fields dnr-valueinput"
        value="{{exoticMaterials}}"/>
    </div>
  </div>
  <div class="flexrow">
    <div title="rare materials">
      <label for="rareMaterials">
        <span class="dnr-spacer"><i class="fa-light fa-comet"></i></span>
      </label>
      <input
        type="number"
        data-dtype="Number"
        step="1"
        id="rareMaterials"
        name="rareMaterials"
        placeholder="0"
        class="form-fields dnr-valueinput"
        value="{{rareMaterials}}"/>
    </div>
    <div title="rare biologicals">
      <label for="rareBiologicals">
        <span class="dnr-spacer"><i class="fa-light fa-dna"></i></span>
      </label>
      <input
        type="number"
        data-dtype="Number"
        step="1"
        id="rareBiologicals"
        name="rareBiologicals"
        placeholder="0"
        class="form-fields dnr-valueinput"
        value="{{rareBiologicals}}"/>
    </div>
  </div>
</header>

<header class="directory-header">
  <div class="flexrow">
    <div title="morale">
      <label for="morale">
        <span class="dnr-spacer">
          <span class="dnr-spacer">
            <i class="fa-light fa-face-smile"></i>
          </span>
          Morale:
        </span>
      </label>
      <input
        type="number"
        data-dtype="Number"
        step="1"
        id="morale"
        name="morale"
        placeholder="0"
        class="form-fields dnr-valueinput"
        value="{{morale}}"/>
      </div>
  </div>
  <div class="flexrow">
    <div title="fatigue">
      <label for="fatigue">
        <span class="dnr-spacer">
          <span class="dnr-spacer">
            <i class="fa-regular fa-face-weary"></i>
          </span>
          Fatigue:
        </span>
      </label>
      <select id="dnr-fatigue" name="fatigue">
        {{#select fatigue}}
          {{#each fatigueLevels}}
            <option value="{{@key}}">{{localize this.label}}
            </option>
          {{/each}}
        {{/select}}
      </select>
    </div>
  </div>
</header>

<div class="dnr-panels">
  <div class="flexrow">
    <div>
      <div class="dnr-panel dnr-ceipanel">
        <div class="dnr-panel-text">
          <p>
            <label for="cei"></label>
            <input
              type="number"
              data-dtype="Number"
              step="1"
              id="cei"
              name="cei"
              placeholder="0"
              class="form-fields dnr-valueinput"
              value="{{cei}}"/>
          </p>
        </div>
      </div>
      <div class="dnr-panel dnr-ceimpanel">
        <div class="dnr-panel-text">
          <p>
            <label for="ceim"></label>
            <input
              type="number"
              data-dtype="Number"
              step="1"
              id="ceim"
              name="ceim"
              placeholder="0"
              class="form-fields dnr-valueinput"
              value="{{ceim}}"/>
          </p>
        </div>
      </div>
    </div>
  </div>

  <header class="directory-header dnr-header">Mission</header>
  <div class="flexrow">
    <div>
      <div class="dnr-panel dnr-deipanel dei-check"
        data-tooltip="skill check"
        data-dei="{{mission.dei}}"
        data-label="Mission DEI check"
      >
        <div class="dnr-panel-text">
          <p>
            <label for="mission-dei"></label>
            <input
              type="number"
              data-dtype="Number"
              step="1"
              id="mission-dei"
              name="mission-dei"
              placeholder="0"
              class="form-fields dnr-valueinput"
              value="{{mission.dei}}"/>
          </p>
          <p>
            <i class="fa-solid fa-dice"></i>
          </p>
        </div>
      </div>
      <div class="dnr-panel dnr-crewpanel">
        <div class="dnr-panel-text">
          <p>
            <label for="mission-crew"></label>
            <input
              type="number"
              data-dtype="Number"
              step="1"
              id="mission-crew"
              name="mission-crew"
              placeholder="0"
              class="form-fields dnr-valueinput"
              value="{{mission.crew}}"/>
          </p>
        </div>
      </div>
    </div>
  </div>

  <header class="directory-header dnr-header">Flight</header>
  <div class="flexrow">
    <div>
      <div
        class="dnr-panel dnr-deipanel dei-check"
        data-tooltip="skill check"
        data-dei="{{flight.dei}}"
        data-label="Flight DEI check"
      >
        <div class="dnr-panel-text">
          <p>
            <label for="flight-dei"></label>
            <input
              type="number"
              id="flight-dei"
              data-dtype="Number"
              step="1"
              name="flight-dei"
              placeholder="0"
              class="form-fields dnr-valueinput"
              value="{{flight.dei}}"/>
          </p>
          <p>
            <i class="fa-solid fa-dice"></i>
          </p>
        </div>
      </div>
      <div class="dnr-panel dnr-crewpanel">
        <div class="dnr-panel-text">
          <p>
            <label for="flight-crew"></label>
            <input
              type="number"
              id="flight-crew"
              data-dtype="Number"
              step="1"
              name="flight-crew"
              placeholder="0"
              class="form-fields dnr-valueinput"
              value="{{flight.crew}}"/>
          </p>
        </div>
      </div>
    </div>
  </div>

  <header class="directory-header dnr-header">Operations</header>
  <div class="flexrow">
    <div>
      <div
        class="dnr-panel dnr-deipanel dei-check"
        data-tooltip="skill check"
        data-dei="{{operations.dei}}"
        data-label="Operations DEI check"
      >
        <div class="dnr-panel-text">
          <p>
            <label for="operations-dei"></label>
            <input
              type="number"
              id="operations-dei"
              data-dtype="Number"
              step="1"
              name="operations-dei"
              placeholder="0"
              class="form-fields dnr-valueinput"
              value="{{operations.dei}}"/>
          </p>
          <p>
            <i class="fa-solid fa-dice"></i>
          </p>
        </div>
      </div>
      <div class="dnr-panel dnr-crewpanel">
        <div class="dnr-panel-text">
          <p>
            <label for="operations-crew"></label>
            <input
              type="number"
              id="operations-crew"
              data-dtype="Number"
              step="1"
              name="operations-crew"
              placeholder="0"
              class="form-fields dnr-valueinput"
              value="{{operations.crew}}"/>
          </p>
        </div>
      </div>
    </div>
  </div>

  <header class="directory-header dnr-header">Engineering</header>
  <div class="flexrow">
    <div>
      <div
        class="dnr-panel dnr-deipanel dei-check"
        data-tooltip="skill check"
        data-dei="{{engineering.dei}}"
        data-label="Engineering DEI check"
      >
        <div class="dnr-panel-text">
          <p>
            <label for="engineering-dei"></label>
            <input
              type="number"
              id="engineering-dei"
              data-dtype="Number"
              step="1"
              name="engineering-dei"
              placeholder="0"
              class="form-fields dnr-valueinput"
              value="{{engineering.dei}}"/>
          </p>
          <p>
            <i class="fa-solid fa-dice"></i>
          </p>
        </div>
      </div>
      <div class="dnr-panel dnr-crewpanel">
        <div class="dnr-panel-text">
          <p>
            <label for="engineering-crew"></label>
            <input
              type="number"
              id="engineering-crew"
              data-dtype="Number"
              step="1"
              name="engineering-crew"
              placeholder="0"
              class="form-fields dnr-valueinput"
              value="{{engineering.crew}}"/>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<header class="directory-header">
  <div class="flexrow action-buttons">
    <button id="dnr-save"><i class="fa-regular fa-cloud-arrow-up"></i> {{localize "DEEPNIGHT.saveButtonTitle"}}</button>
  </div>
  <div class="flexrow action-buttons">
    <button id="dnr-day"><i class="fa-regular fa-calendar-day"></i> {{localize "DEEPNIGHT.dayButtonTitle"}}</button>
    <button id="dnr-watch"><i class="fa-regular fa-watch"></i> {{localize "DEEPNIGHT.watchButtonTitle"}}</button>
    <button id="dnr-jump"><i class="fa-regular fa-calendar-week"></i> {{localize "DEEPNIGHT.jumpButtonTitle"}}</button>
  </div>
</header>
