<h3>{{log.[0]}}.{{log.[1]}}.{{log.[2]}}</h3>
<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Days on Mission</td><td>{{log.[3]}}</td></tr>
    <tr><td>Supplies</td><td>{{log.[5]}}</td></tr>
    <tr><td>Rare Biologicals</td><td>{{log.[7]}}</td></tr>
    <tr><td>Rare Materials</td><td>{{log.[6]}}</td></tr>
    <tr><td>Exotic Materials</td><td>{{log.[8]}}</td></tr>
    <tr><td>Fatigue/CFI</td><td>{{log.[20]}} / {{log.[9]}}</td></tr>
    <tr><td>Morale</td><td>{{log.[4]}}</td></tr>
    <tr><td>CEI/CEIM</td><td>{{log.[10]}} / {{log.[11]}}</td></tr>
    <tr><td>Engineering DEI/Crew</td><td>{{log.[18]}} / {{log.[19]}}</td></tr>
    <tr><td>Flight DEI/Crew</td><td>{{log.[12]}} / {{log.[13]}}</td></tr>
    <tr><td>Mission DEI/Crew</td><td>{{log.[14]}} / {{log.[15]}}</td></tr>
    <tr><td>Operations DEI/Crew</td><td>{{log.[16]}} / {{log.[17]}}</td></tr>
    <tr><td>CFI Interval</td><td>{{log.[23]}}</td></tr>
    <tr><td>CEI Interval</td><td>{{log.[21]}}</td></tr>
    <tr><td>CEIM Interval</td><td>{{log.[22]}}</td></tr>
    <tr><td>Supply Units Per Day</td><td>{{log.[23]}}</td></tr>
  </tbody>
  <tfoot></tfoot>
</table>
