<div class="deepnight-wrapper">
  <section class="deepnight calendar">
    <div class="flexrow action-buttons">
      <div>
        <span class="dnr-spacer"><i class="fa-light fa-calendar-days"></i></span>
        <b>{{year}}.{{day}}</b>
      </div>
      <div>
        <span class="dnr-spacer">{{localize "DEEPNIGHT.daysOnMission"}}:</span>
        <b>{{daysOnMission}}</b>
      </div>
      <div class="clickable" id="history">
        <span class="dnr-spacer"><i class="fa-regular fa-rectangle-vertical-history"></i></span>History
      </div>
    </div>
    <div class="flexrow action-buttons">
      <div>
        <p>Days until CEIM: {{ceimInterval}} <span id="ceim-interval"><i class="fa-solid fa-dice"></i></span></p>
      </div>
      <div>
        <p>Days until CEI: {{ceiInterval}} <span id="cei-interval"><i class="fa-solid fa-dice"></i></span></p>
      </div>
      <div>
        <p>Days until CFI: {{cfiInterval}} <span id="cfi-interval"><i class="fa-solid fa-dice"></i></span></p>
      </div>
    </div>
  </section>

  <section class="deepnight resources">
    <header class="directory-header dnr-header">Resources</header>
    <div class="flexrow action-buttons">
      <div title="Supplies">
        <div>
          <label for="supplies">
            Supplies
          </label>
        </div>
        <span class="dnr-spacer"><i class="fa-light fa-crate-apple"></i></span>
        <b>{{supplies}}</b>
      </div>
      <div title="exotic materials">
        <div><label for="exoticMaterials">Exotic Materials</label></div>
        <span class="dnr-spacer"><i class="fa-light fa-sparkles"></i></span>
        <b>{{exoticMaterials}}</b>
      </div>
      <div title="rare materials">
        <div>
          <label for="rareMaterials">Rare Materials</label>
        </div>
        <span class="dnr-spacer"><i class="fa-light fa-comet"></i></span>
        <b>{{rareMaterials}}</b>
      </div>
      <div title="rare biologicals">
        <div><label for="rareBiologicals">Rare Biologicals</label></div>
        <span class="dnr-spacer"><i class="fa-light fa-dna"></i></span>
        <b>{{rareBiologicals}}</b>
      </div>
    </div>
  </section>

  <section class="deepnight morale">
    <header class="directory-header dnr-header">Morale and Fatigue</header>
    <div class="flexrow">
      <div title="morale">
        <div><label for="morale">Morale</label></div>
        <span class="dnr-spacer"><i class="fa-light fa-face-smile"></i></span>
        <b>{{morale}}</b>
      </div>
      <div title="cfi">
        <div><label for="cfi">Fatigue Index</label></div>
        <span class="dnr-spacer">CFI:</span>
        <b>{{cfi}}</b>
      </div>
      <div title="fatigue">
        <div><label for="fatigue">Fatigue</label></div>
        <span class="dnr-spacer"><i class="fa-regular fa-face-weary"></i></span>
        <b>{{fatigue}}</b>
      </div>
    </div>
  </section>

  <section class=" deepnight crew">
    <header class="directory-header dnr-header">Crew</header>
    <div class="flexrow">
      <div>
        <div class="dnr-panel dnr-ceipanel dei-check"
             data-tooltip="skill check"
             data-dei="{{cei}}"
             data-label="CEI check"
        >
          <div class="dnr-panel-text">
            <p>
              <label for="cei"></label>
              <b>{{cei}}</b>
            </p>
            <p class="clickable">
              <i class="fa-solid fa-dice"></i>
            </p>
          </div>
        </div>
        <div class="dnr-panel dnr-ceimpanel">
          <div class="dnr-panel-text">
            <p>
              <label for="ceim"></label>
              <b>{{cei}}</b>
            </p>
          </div>
        </div>
      </div>
      <div>
      </div>
    </div>
  </section>

  <section class="deepnight divisions">
    <header class="directory-header dnr-header">Divisions</header>
    <div class="flexrow">
      <div class="dei-wrapper">
        <header class="directory-header dnr-subheader">Mission</header>
        <div class="flexrow">
          <div>
            <div class="dnr-panel dnr-deipanel dei-check"
                 data-tooltip="skill check"
                 data-dei="{{mission.dei}}"
                 data-label="Mission DEI check"
            >
              <div class="dnr-panel-text">
                <p>
                  <label for="mission-dei"></label>
                  <b>{{mission.dei}}</b>
                </p>
                <p class="clickable">
                  <i class="fa-solid fa-dice"></i>
                </p>
              </div>
            </div>
            <div class="dnr-panel dnr-crewpanel">
              <div class="dnr-panel-text">
                <p>
                  <label for="mission-crew"></label>
                  <b>{{mission.crew}}</b>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <header class="directory-header dnr-subheader">Flight</header>
        <div class="flexrow">
          <div>
            <div
              class="dnr-panel dnr-deipanel dei-check"
              data-tooltip="skill check"
              data-dei="{{flight.dei}}"
              data-label="Flight DEI check"
            >
              <div class="dnr-panel-text">
                <p>
                  <label for="flight-dei"></label>
                  <b>{{flight.dei}}</b>
                </p>
                <p class="clickable">
                  <i class="fa-solid fa-dice"></i>
                </p>
              </div>
            </div>
            <div class="dnr-panel dnr-crewpanel">
              <div class="dnr-panel-text">
                <p>
                  <label for="flight-crew"></label>
                  <b>{{flight.crew}}</b>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flexrow">
      <div>
        <header class="directory-header dnr-subheader">Operations</header>
        <div class="flexrow">
          <div class="dei-wrapper">
            <div
              class="dnr-panel dnr-deipanel dei-check"
              data-tooltip="skill check"
              data-dei="{{operations.dei}}"
              data-label="Operations DEI check"
            >
              <div class="dnr-panel-text">
                <p>
                  <label for="operations-dei"></label>
                  <b>{{operations.dei}}</b>
                </p>
                <p class="clickable">
                  <i class="fa-solid fa-dice"></i>
                </p>
              </div>
            </div>
            <div class="dnr-panel dnr-crewpanel">
              <div class="dnr-panel-text">
                <p>
                  <label for="operations-crew"></label>
                  <b>{{operations.crew}}</b>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <header class="directory-header dnr-subheader">Engineering</header>
        <div class="flexrow">
          <div>
            <div
              class="dnr-panel dnr-deipanel dei-check"
              data-tooltip="skill check"
              data-dei="{{engineering.dei}}"
              data-label="Engineering DEI check"
            >
              <div class="dnr-panel-text">
                <p>
                  <label for="engineering-dei"></label>
                  <b>{{engineering.dei}}</b>
                </p>
                <p class="clickable">
                  <i class="fa-solid fa-dice"></i>
                </p>
              </div>
            </div>
            <div class="dnr-panel dnr-crewpanel">
              <div class="dnr-panel-text">
                <p>
                  <label for="engineering-crew"></label>
                  <b>{{engineering.crew}}</b>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
