<header class="directory-header">
  <div class="flexrow">
    <div><i class="fa-light fa-calendar-days"></i> <b>{{year}}.{{day}}</b></div>
    <div>{{localize "DEEPNIGHT.daysOnMission"}}: <b>{{daysOnMission}}</b></div>
  </div>
</header>

<header class="directory-header">
  <div class="flexrow">
    <div title="rare materials"><i class="fa-light fa-comet"></i> <b>{{rareMaterials}}</b></div>
    <div title="exotic materials"><i class="fa-light fa-sparkles"></i> <b>{{exoticMaterials}}</b></div>
    <div title="rare biologicals"><i class="fa-light fa-dna"></i> <b>{{rareBiologicals}}</b></div>
  </div>
</header>

<header class="directory-header">
  <div class="flexrow">
    <div title="supplies"><i class="fa-light fa-crate-apple"></i> <b>{{supplies}}</b></div>
    <div title="morale"><i class="fa-light fa-face-smile"></i> <b>{{morale}}</b></div>
  </div>
</header>

<div class="dnr-panels">
  <div class="flexrow">
    <div>
      <div class="dnr-panel dnr-ceipanel">
        <div class="dnr-panel-text">
          <p>
            <input
              type="number"
              data-dtype="Number"
              step="1"
              id="cei"
              name="cei"
              placeholder="0"
              class="form-fields dnr-valueinput"
              value="{{cei}}"/>
          </p>
        </div>
      </div>
      <div class="dnr-panel dnr-ceimpanel">
        <div class="dnr-panel-text">
          <p>
            <input
              type="number"
              data-dtype="Number"
              step="1"
              id="ceim"
              name="ceim"
              placeholder="0"
              class="form-fields dnr-valueinput"
              value="{{ceim}}"/>
          </p>
        </div>
      </div>
    </div>
  </div>

  <header class="directory-header dnr-header">Mission</header>
  <div class="flexrow">
    <div>
      <div class="dnr-panel dnr-deipanel">
        <div class="dnr-panel-text">
          <p>
            <input
              type="number"
              data-dtype="Number"
              step="1"
              id="mission-dei"
              name="mission-dei"
              placeholder="0"
              class="form-fields dnr-valueinput"
              value="{{mission.dei}}"/>
          </p>
          <p>
            <span
              class="dei-check"
              data-tooltip="skill check"
              data-dei="{{mission.dei}}"
              data-label="Mission DEI check"
            >
              <i class="fa-solid fa-dice" alt="d6"></i>
            </span>
          </p>
        </div>
      </div>
      <div class="dnr-panel dnr-crewpanel">
        <div class="dnr-panel-text">
          <p>
            <input
              type="number"
              data-dtype="Number"
              step="1"
              id="mission-crew"
              name="mission-crew"
              placeholder="0"
              class="form-fields dnr-valueinput"
              value="{{mission.crew}}"/>
          </p>
        </div>
      </div>
    </div>
  </div>

  <header class="directory-header dnr-header">Flight</header>
  <div class="flexrow">
    <div>
      <div class="dnr-panel dnr-deipanel">
        <div class="dnr-panel-text">
          <p>
            <input
              type="number"
              id="flight-dei"
              data-dtype="Number"
              step="1"
              name="flight-dei"
              placeholder="0"
              class="form-fields dnr-valueinput"
              value="{{flight.dei}}"/>
          </p>
          <p>
            <span
              class="dei-check"
              data-tooltip="skill check"
              data-dei="{{flight.dei}}"
              data-label="Flight DEI check"
            >
              <i class="fa-solid fa-dice" alt="d6"></i>
            </span>
          </p>
        </div>
      </div>
      <div class="dnr-panel dnr-crewpanel">
        <div class="dnr-panel-text">
          <p>
            <input
              type="number"
              id="flight-crew"
              data-dtype="Number"
              step="1"
              name="flight-crew"
              placeholder="0"
              class="form-fields dnr-valueinput"
              value="{{flight.crew}}"/>
          </p>
        </div>
      </div>
    </div>
  </div>

  <header class="directory-header dnr-header">Operations</header>
  <div class="flexrow">
    <div>
      <div class="dnr-panel dnr-deipanel">
        <div class="dnr-panel-text">
          <p>
            <input
              type="number"
              id="operations-dei"
              data-dtype="Number"
              step="1"
              name="operations-dei"
              placeholder="0"
              class="form-fields dnr-valueinput"
              value="{{operations.dei}}"/>
          </p>
          <p>
            <span
              class="dei-check"
              data-tooltip="skill check"
              data-dei="{{operations.dei}}"
              data-label="Operations DEI check"
            >
              <i class="fa-solid fa-dice" alt="d6"></i>
            </span>
          </p>
        </div>
      </div>
      <div class="dnr-panel dnr-crewpanel">
        <div class="dnr-panel-text">
          <p>
            <input
              type="number"
              id="operations-crew"
              data-dtype="Number"
              step="1"
              name="operations-crew"
              placeholder="0"
              class="form-fields dnr-valueinput"
              value="{{operations.crew}}"/>
          </p>
        </div>
      </div>
    </div>
  </div>

  <header class="directory-header dnr-header">Engineering</header>
  <div class="flexrow">
    <div>
      <div class="dnr-panel dnr-deipanel">
        <div class="dnr-panel-text">
          <p>
            <input
              type="number"
              id="engineering-dei"
              data-dtype="Number"
              step="1"
              name="engineering-dei"
              placeholder="0"
              class="form-fields dnr-valueinput"
              value="{{engineering.dei}}"/>
          </p>
          <p>
            <span
              class="dei-check"
              data-tooltip="skill check"
              data-dei="{{engineering.dei}}"
              data-label="Engineering DEI check"
            >
              <i class="fa-solid fa-dice" alt="d6"></i>
            </span>
          </p>
        </div>
      </div>
      <div class="dnr-panel dnr-crewpanel">
        <div class="dnr-panel-text">
          <p>
            <input
              type="number"
              id="engineering-crew"
              data-dtype="Number"
              step="1"
              name="engineering-crew"
              placeholder="0"
              class="form-fields dnr-valueinput"
              value="{{engineering.crew}}"/>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
