<div class="flexrow">
  <div><i class="fa-light fa-calendar-days"></i> <b>{{year}}.{{day}}</b></div>
  <div><i class="fa-light fa-crate-apple"></i>: <b>{{supplies}}</b></div>
  <div>{{localize "DEEPNIGHT.daysOnMission"}}: <b>{{daysOnMission}}</b></div>
</div>
<div class="flexrow"></div>
