<header class="directory-header">
  <div class="flexrow">
    <div>
      <span class="dnr-spacer"><i class="fa-light fa-calendar-days"></i></span>
      <b>{{year}}.{{day}}</b>
    </div>
    <div>
      <span class="dnr-spacer">{{localize "DEEPNIGHT.daysOnMission"}}:</span>
      <b>{{daysOnMission}}</b>
    </div>
  </div>
</header>

<header class="directory-header">
  <div class="flexrow">
    <div title="Supplies">
      <span class="dnr-spacer"><i class="fa-light fa-crate-apple"></i></span>
      <b>{{supplies}}</b>
    </div>
    <div title="exotic materials">
      <span class="dnr-spacer"><i class="fa-light fa-sparkles"></i></span>
      <b>{{exoticMaterials}}</b>
    </div>
  </div>
  <div class="flexrow">
    <div title="rare materials">
      <span class="dnr-spacer"><i class="fa-light fa-comet"></i></span>
      <b>{{rareMaterials}}</b>
    </div>
    <div title="rare biologicals">
      <span class="dnr-spacer"><i class="fa-light fa-dna"></i></span>
      <b>{{rareBiologicals}}</b>
    </div>
  </div>
</header>

<header class="directory-header">
  <div class="flexrow">
    <div title="morale">
      <span class="dnr-spacer">
        <span class="dnr-spacer">
          <i class="fa-light fa-face-smile"></i>
        </span>
        Morale:
      </span>
      <b>{{morale}}</b>
    </div>
  </div>
  <div class="flexrow">
    <div title="fatigue">
      <span class="dnr-spacer">
        <span class="dnr-spacer">
          <i class="fa-regular fa-face-weary"></i>
        </span>
        Fatigue:
      </span>
      <b>{{fatigue}}</b>
    </div>
  </div>
</header>

<div class="dnr-panels">
  <div class="flexrow">
    <div>
      <div class="dnr-panel dnr-ceipanel">
        <div class="dnr-panel-text">
          <p>
            <b>{{cei}}</b>
          </p>
        </div>
      </div>
      <div class="dnr-panel dnr-ceimpanel">
        <div class="dnr-panel-text">
          <p>
            <b>{{ceim}}</b>
          </p>
        </div>
      </div>
    </div>
  </div>

  <header class="directory-header dnr-header">Mission</header>
  <div class="flexrow">
    <div>
      <div class="dnr-panel dnr-deipanel dei-check"
           data-tooltip="skill check"
           data-dei="{{mission.dei}}"
           data-label="Mission DEI check"
      >
        <div class="dnr-panel-text">
          <p>
            <b>{{mission.dei}}</b>
          </p>
          <p>
            <i class="fa-solid fa-dice"></i>
          </p>
        </div>
      </div>
      <div class="dnr-panel dnr-crewpanel">
        <div class="dnr-panel-text">
          <p>
            <b>{{mission.crew}}</b>
          </p>
        </div>
      </div>
    </div>
  </div>

  <header class="directory-header dnr-header">Flight</header>
  <div class="flexrow">
    <div>
      <div
        class="dnr-panel dnr-deipanel dei-check"
        data-tooltip="skill check"
        data-dei="{{flight.dei}}"
        data-label="Flight DEI check"
      >
        <div class="dnr-panel-text">
          <p>
            <b>{{flight.dei}}</b>
          </p>
          <p>
            <i class="fa-solid fa-dice"></i>
          </p>
        </div>
      </div>
      <div class="dnr-panel dnr-crewpanel">
        <div class="dnr-panel-text">
          <p>
            <b>{{flight.crew}}</b>
          </p>
        </div>
      </div>
    </div>
  </div>

  <header class="directory-header dnr-header">Operations</header>
  <div class="flexrow">
    <div>
      <div
        class="dnr-panel dnr-deipanel dei-check"
        data-tooltip="skill check"
        data-dei="{{operations.dei}}"
        data-label="Operations DEI check"
      >
        <div class="dnr-panel-text">
          <p>
            <b>{{operations.dei}}</b>
          </p>
          <p>
            <i class="fa-solid fa-dice"></i>
          </p>
        </div>
      </div>
      <div class="dnr-panel dnr-crewpanel">
        <div class="dnr-panel-text">
          <p>
            <b>{{operations.crew}}</b>
          </p>
        </div>
      </div>
    </div>
  </div>

  <header class="directory-header dnr-header">Engineering</header>
  <div class="flexrow">
    <div>
      <div
        class="dnr-panel dnr-deipanel dei-check"
        data-tooltip="skill check"
        data-dei="{{engineering.dei}}"
        data-label="Engineering DEI check"
      >
        <div class="dnr-panel-text">
          <p>
            <b>{{engineering.dei}}</b>
          </p>
          <p>
            <i class="fa-solid fa-dice"></i>
          </p>
        </div>
      </div>
      <div class="dnr-panel dnr-crewpanel">
        <div class="dnr-panel-text">
          <p>
            <b>{{engineering.crew}}</b>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
